body {
	background-color: coral;
	margin:0 auto;
	width: 60%;
/*	border: 1px solid pink;*/
	text-align: center;
}
h1{
	color: dimgray ;
	font-size: 3rem;
	margin: 1rem;
	
}
hr{
	border: none;
	background-color:aquamarine;
	height: 1rem;
	margin-top: 0;
}
ul {
	list-style-type: none;
	width: 38rem;
	/*border: 1px solid navy;*/
	padding: 0;
	margin: 0 auto;
	font-size: 1.5rem;
	font-weight: 300;s
}





p {
    text-align: right;
    width: 37rem;
    /*border: 1px solid navy;*/
    padding: 0;
    font-size: 1rem;
    font-weight: 300;
    color: #FF9800;
    margin: 1rem 0 1rem;
}
div {
	border: 0.02rem solid hotpink;
	color: navy;
	
}
